.footer {
  padding: 30px 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.upper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 30px;
}

.divider {
  width: 20%;
  height: 3px;
  background-image: linear-gradient(
    150deg,
    rgb(0, 93, 78),
    rgb(0, 173, 158),
    rgb(0, 195, 198),
    rgb(0, 73, 60)
  );
  background-repeat: repeat-x;
  background-position: 0 80%;
  border-radius: 10px;
}

.lower {
  color: white;
  font-size: clamp(15px, 1vw, 50px);
  display: flex;
  gap: 20px;
  align-items: center;
}

.lower a {
  border-bottom: solid 1px;
  transition: all 0.2s ease-in-out;
}

.lower a:hover {
  color: rgb(255, 0, 111);
  cursor: pointer;
}




