.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.study {
  width: 90%;
  max-width: 1250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 80px;
}

.cards {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.tittleS {
  width: 100%;
  text-align: left;
  font-size: 40px;
  color: rgba(238, 255, 254, 0.936);
  height: fit-content;
  z-index: 9999;
}

.certificateLink {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-bottom: solid 1px transparent;
  transition: border-color 0.35s ease;
}
.card {
  position: relative;
  width: calc(100% - 60px);
  height: 90px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 29, 30);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.35);
  transition: background 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
}
.card::after {
  opacity: 0;
  z-index: -3;
  content: "";
  width: 150%;
  left: -50px;
  border-radius: 50px;
  background-size: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    150deg,
    rgb(0, 75, 63),
    rgb(0, 154, 141) 15%,
    rgb(0, 160, 162),
    rgb(0, 158, 129) 100%
  );
  transition: opacity 0.2s ease-in-out;
  background-position: 300% 99%;
  background-size: 150%;
}
.cardHasCertificate:hover {
  transform: scale(1.02);
}
.cardHasCertificate:hover .title {
  color: white;
}
.cardHasCertificate:hover::after {
  opacity: 1;
}
.cardHasCertificate:hover .line {
  opacity: 1;
  width: 35%;
}
.cardHeader {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title {
  background: linear-gradient(
    150deg,
    rgb(0, 100, 83),
    rgb(5, 225, 207) 15%,
    rgb(0, 206, 209),
    rgb(0, 158, 129) 100%
  );
  background-clip: text;
  color: transparent;
  background-position: 120% 50%;
  font-size: 22px;
  width: fit-content;
  transition: color 0.1s ease-in-out;
}
.icons {
  margin-top: 15px;
  display: flex;
  gap: 8px;
  width: 70%;
  flex-wrap: wrap;
  font-size: 20px;
  color: white;
  opacity: 0.7;
}
.line {
  border-bottom: solid rgb(255, 255, 255) 1px;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
}
.info {
  height: 130px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;
  width: 100%;
}
.cardHasCertificate:hover .tit {
  color: white;
}
.tit {
  width: 80%;
  color: rgba(255, 255, 255, 0.681);
  font-size: 20px;
  text-align: right;
}
.time {
  margin-top: 8px;
  display: flex;
  justify-content: "center";
/*   flecolor: white; */
  opacit9 0.75;
  flex-wrap: wrap;
  text-align: right;
}
.skills {
.skills {
  width: 100%;
  max-width: 1250px;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: 5rap;
  border: solid red;
  flex-wrap: wrap;
  gap: 352;
  padding-bottom: 80px;

.skillIcons {
.skillIcons {
  gap: 40px;
  width: 100%;
  max-width: 700px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;

.skillIcon {
.skillIcon {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 40px;
}
.skillName {
  font-weight: 700;
  font-size: 12px;
}
@media screen and (max-width: 1000px) {
    font-size: 16px;
  }
  .time,
  .certificateLink {
    font-size: 15px;
  }
  .title {
  .title {
    font-size: 18px;
  }
  .card:hover .line {
    opacity: 1;
  }
  .tittleS {
  .tittleS {
    font-size: 30px;
  }
  .skillIcon {
    font-size: 30px;
  }
  .skillName {
    font-weight: 700;
    font-size: 12px;
  }

@media screen and (max-width: 800px) {
  .line {


.line {
    display: none;
  }6  .skills {
    padding-bottom: 60px;
  }study {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 700px) {
  .icons {
    font-size: 16px;
    margin-top: 10px;
  }
  .tit {
    font-size: 12px;
  }
  .time {
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
  .time,
  .certificateLink {
    font-size: 12px;
  }
  .title {
    width: 100%;
    font-size: 16px;
  }
  .info {
    justify-content: center;
    justify-content: center;
    gap: 0px;
  }
  .card {
    height: 60px  .tittleS {
    font-size: 25px;
  };
    min-height: 20px;
  }
  .cardHeader {
    justify-content: center;
    width: 50%;
    width: 50%;
  }
  .line {
    display: none;
  }

  .cardSkills {
    wid background-position: 0 99%;
    background-size: 220%;
  }
}
reen and (max-width: 600px) {
  .tittleS {
    font-size: 25px;
  }
}
