.projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  gap: 35px;
  padding: 0 20px;
  box-sizing: border-box;
}

.projectTitle {
  color: white;
  font-size: 40px;
  width: 100%;
  text-align: left;
  max-width: 1250px;
}

.cards {
  transition: all 0.2s ease-in-out;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1250px;
  box-sizing: border-box;
}

.projectLink {
  text-decoration: none;
  color: inherit;
}

.projectCard {
  transition: width 0.2s ease-in-out;
  overflow: hidden;
  color: white;
  position: relative;
  width: 49%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 16px;
  cursor: default;
}

.projectCardInteractive {
  cursor: pointer;
}

.projectImage {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.projectGoIcon {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(150px) rotate(200deg);
}

.projectImageMedia {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.projectCardInteractive:hover .projectGoIcon {
  transform: scale(1.4) rotate(360deg);
  opacity: 1;
}

.projectCardInteractive:hover .projectImageMedia {
  transform: scale(1.1);
  opacity: 0.3;
}

.projectDescription {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 8px 50px;
  gap: 16px;
}

.projectDescription h3 {
  font-size: clamp(22px, 1.4vw, 30px);
  font-weight: 600;
}

.projectIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  gap: 10px;
}

.projectIcon {
  font-size: 40%;
  display: flex;
}

@media screen and (max-width: 1100px) {

  .projectCard {
    width: 100%;
  }
  .projectDescription h3 {
    font-size: 20px;
  }
  .cards {
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .projectTitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .projectTitle {
    font-size: 25px;
  }
  .projectDescription h3 {
    font-size: 15px;
  }
  .projectIcon {
    font-size: 17px;
  }
  .projectTitle {
    font-size: 25px;
  }
  .projectDescription {
    padding: 0px 8px 20px;
  }
}
